* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

header {
    margin: 20px;
    background: linear-gradient(
        135deg,
        #d1fcb5 0%,
        #3afcab 40%,
        #5ea0f5 80%,
        #fbd6fe 100%
        
    );
    border-radius: 10px;
}

.header-container {
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    gap: 10px;
}

.person-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
}

.person-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.person-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.main {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.left-side {
    min-width: 250px;
    height: 100%;
    background-color: #f1eeee;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.cv-details,
.cv-tools,
.cv-education,
.cv-languages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
}

.cv-details h3,
.cv-tools h3,
.cv-education h3,
.cv-languages h3,
.about h2,
.experience h2,
.code-examples h2 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #028b4b;
}

.cv-details p,
.cv-education p {
    font-size: 14px;
    color: #000;
}

.cv-details i {
    color: #028b4b;
    font-size: 14px;
    margin-right: 5px;
}

.cv-tools li,
.cv-languages li {
    list-style: none;
    font-size: 14px;
    color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cv-tools li i {
    font-size: 18px;
    width: 25px;
    margin-right: 5px;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.right-side {
    width: 100%;
    height: 100%;
    background-color: #f1eeee;
    display: flex;
    flex-direction: column;
    padding: 25px 50px;
    border-radius: 10px;
}

.about p {
    font-size: 16px;
    color: #000;
    padding: 15px 0;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px 0;
}

.work-experience {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.work-experience-details .company-name {
    font-weight: 600;
    font-size: 16px;
}

.work-experience-details p {
    font-size: 14px;
}

.work-place {
    font-size: 14px;
    font-style: italic;
    color: #555;
}

.work-experience-details .duration {
    font-size: 14px;
    color: #8b8b8b;
}

.experience ul {
    list-style:circle;
    padding: 10px 20px;
}

.code-examples {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.code-examples section {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #028b4b;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.github-link {
    color: #63b3ed;
    text-decoration: none;
    font-weight: 700;
}

.github-link:hover {
    color: #3c6f94;
}

.linkedin-link {
    color: #0A66C2;
    text-decoration: none;
    font-weight: 700;
}

.linkedin-link:hover {
    color: #004182;
}

.copyright {
    font-size: 14px;
    color: #fff;
}

.rs-school-logo {
    width: 120px;
    height: auto;
    display: block;
}